In [ ]:
import pandas as pd
import numpy as np

In [ ]:

df = pd.read_csv('data/training_data.csv')
df.head()
df[df['league'] != 38439].tail()

In [ ]:
df_22614 = df[df['league'] == 22614]
df_23114 = df[df['league'] == 23114]
df_38439 = df[df['league'] == 38439]
df_37298 = df[df['league'] == 37298]

In [81]:
df2 = pd.read_csv('feautured.csv')
df2.head()

,event_id,league,date,away_team,away_player,away_score,home_team,home_player,home_score,total_score,home_avg_score,home_avg_goals_conceded,home_win_rate,away_avg_score,away_avg_goals_conceded,away_win_rate,h2h_avg_goals_home,h2h_avg_goals_away,h2h_win_rate_home
0,9312858,23114,2025-01-01 00:00:00,AZ,Persie,1,Besiktas,Thor,1,2,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,9316343,37298,2025-01-01 00:00:00,Tottenham,VENUS,0,Aston Villa,DIVINE,0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,9312851,23114,2025-01-01 00:00:00,Hoffenheim,Madisson,2,Olympiakos,Ivan,3,5,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,9316396,38439,2025-01-01 00:00:38,Boca Juniors,Nell,3,Barcelona,Profik,1,4,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,9316395,38439,2025-01-01 00:00:40,River Plate,Stasyan,4,Real Madrid,Kostolom89,2,6,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [83]:
df_home = df2[(df2['home_player'] == 'Nell') & (df2['away_player'] == 'Profik')]
df_away = df2[(df2['home_player'] == 'Profik') & (df2['away_player'] == 'Nell')]
df_concat = pd.concat([df_home,df_away])
df_concat.head()

,event_id,league,date,away_team,away_player,away_score,home_team,home_player,home_score,total_score,home_avg_score,home_avg_goals_conceded,home_win_rate,away_avg_score,away_avg_goals_conceded,away_win_rate,h2h_avg_goals_home,h2h_avg_goals_away,h2h_win_rate_home
36,9316347,38439,2025-01-01 00:44:00,Barcelona,Profik,1,Boca Juniors,Nell,2,3,0.000,0.000,0.000,0.000000,0.000000,0.000000,3.000000,1.000000,1.000000
112,9316516,38439,2025-01-01 02:34:00,Argentina,Profik,1,France,Nell,0,1,2.500,1.500,0.750,1.142857,2.285714,0.142857,2.666667,1.000000,1.000000
178,9316602,38439,2025-01-01 04:14:00,Bayer 04,Profik,2,Eintracht,Nell,0,2,2.625,2.000,0.500,1.125000,2.125000,0.250000,2.000000,1.200000,0.600000
12619,9371438,38439,2025-01-13 21:24:00,Bayern,Profik,2,Barcelona,Nell,0,2,2.125,3.625,0.125,3.000000,3.500000,0.375000,1.714286,1.428571,0.428571
12707,9371621,38439,2025-01-13 23:04:00,Ghana,Profik,0,Denmark,Nell,3,3,2.000,2.125,0.250,2.500000,2.000000,0.375000,1.555556,1.888889,0.333333

In [85]:
df_concat = df_concat.sort_values(by='date')
df2.to_excel('featured.xlsx', index=False)

In [ ]:
print(df_concat[8:12])